{{! List those peeps! }}
<div class="container-fluid">
  <h2 class="text-uppercase">{{group.title}}</h2>
  <div>
    <ul class="list-group">
      {{#each group.users as |user|}}
        {{#if user}}
          <li data-user="{{user.id}}" class="list-group-item font-weight-bold text-center">
            {{user.username}}
          </li>
        {{/if}}
      {{/each}}
    </ul>
  </div>
</div>
{{! Cards for items :) }}
{{! Left column }}
<div class="container-fluid">
  <div class="row">
    <div class="col">
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    {{! Center column }}
    <div class="col">
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
    {{! Right column }}
    <div class="col">
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
      <div class="card">
        <p class="card-block"> {{title}} </p>
        <img class="card-img-bottom" src="" alt="Card image cap" />
        <button type="button" class="close" aria-label="Close">
          <span aria-hidden="true">×</span>
        </button>
      </div>
    </div>
  </div>
</div>