<div class="container text-center">
    <div class="row align-items-center">
        
        <h3>List: {{list.title}} <button type="button">Delete list</button></h3>

        <div class="col"></div>
            <h4>Part of groups:</h4>
            <ol>
                {{#each list.groups as |group|}}
                <li>{{group.title}}</li>
                {{/each}}
            </ol>

            <div class="col ">
                <h5>Test</h5>
            </div>
        </div>

        <div class="col">
                {{#each list.items as |item|}}
                <h5>Items: {{item.title}}</h5>
                <ol>
                    <li>{{item.description}}</li>
                    <li><a href="{{item.link}}">link to product</a></li>
                    {{!-- front-end makes a delete request to /api/item. --}}
                    <button type= "button">Delete item</button>
                </ol>
                {{/each}}
        </div>
    </div>
</div>